.expression-container {
  margin-top: 20px;
  display: flex;
  text-align: left;

  h2 {
    margin-top: 0px;
  }

  .col {
    width: 50%;
    margin: 10px;
  }
}

.variables-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  align-items: self-start;
  padding: 3px 10px;

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .tags li {
    float: left;
  }

  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #444;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 10px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  input {
    padding: 10px;
    margin-right: 10px;
  }

  label h4 {
    margin: 0 0 10px 0;
  }

  .row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    input,
    label {
      display: block;
    }
  }

  .row:last-child {
    align-self: end;
  }

  button {
    padding: 10px;
  }
}
