@import "@blueprintjs/core/lib/scss/variables";

.App {
  margin: 0% 10%;
  max-width: 1200px;
}

.app-title {
  color: $pt-intent-primary;
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background: #f6f7f9;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.15);
  margin-top: 0px;
  padding: 20px 20px 10px 20px;
  min-height: 190px;

  input {
    padding: 10px;
  }

  label h4 {
    margin: 0 0 10px 0;
  }

  select {
    padding: 10px;
  }

  .row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;

    input,
    label {
      display: block;
    }
  }


  button {
    padding: 10px;
  }
}

.f-full {
  width: 100%;
}

.f-third {
  width: 33.33%;
}

.spacing-container {
  padding: 20px
}