.row-operations-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;

    h2 {
        margin-top: 0px;
    }

    .lower-row {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;

        > div:not(:last-child) {
            margin-right: 10px;
        }
    }
}